doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		
		block headlink
	body
		div(class="navbar navbar-fixed-top")
			div(class="navbar-inner")
				div(class="container")
					a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(class="brand", href="/") Mplayer
					div(class="nav-collapse")
						ul.nav
							li(class="#{url === '/' ? 'active' : ''}")
								a(href="/") 首页
							- if (!user) 
								li(class="#{url === '/login' ? 'active' : ''}")
									a(href="/login") 登录
								li(class="#{url === '/reg' ? 'active' : ''}")
									a(href="/reg") 注册
							- else
								li(class="#{url === '/user/'+user.name ? 'active' : ''}")
									a(href="/user/#{user.name}") 用户中心
								li
									a(href="/logout") 退出

		div(id="container", class="container")
			- if (success) 
				div(class="alert alert-success")
					#{success}
		
			- if (error)
				div(class="alert alert-error")
					#{error}
				
			block content
			
		script(type="text/javascript", src="http://code.jquery.com/jquery-latest.min.js")